.row.justify-content-center.align-items-center
  .col-md-8.col-11
    - item_version = @lender_rental_transaction.item_version
    %h1.fs-2.text-center.my-4 #{item_version.name}の貸出
    .d-flex.justify-content-between.align-items-center
      - case @lender_rental_transaction.status
      - when :requested
        = button_to '貸出リクエストを承認する', user_lender_rental_transaction_approved_rental_path(@lender_rental_transaction),
          data: { turbo_confirm: "本当に承認しますか？" }, class: 'btn btn-primary'
        = button_to '貸出リクエストを拒否する', user_lender_rental_transaction_rejected_rental_path(@lender_rental_transaction),
        data: { turbo_confirm: "本当に削除しますか？" }, class: 'btn btn-danger'
      - when :approved
        = button_to '入金済み', user_lender_rental_transaction_paid_rental_path(@lender_rental_transaction),
          data: { turbo_confirm: "本当に入金済みにしますか？" }, class: 'btn btn-primary'
      - when :paid
        = button_to '配送済み', user_lender_rental_transaction_shipped_rental_path(@lender_rental_transaction),
          data: { turbo_confirm: "本当に配送済みにしますか？" }, class: 'btn btn-primary'
      - when :returned
        = button_to '完了済み', user_lender_rental_transaction_completed_rental_path(@lender_rental_transaction),
          data: { turbo_confirm: "本当に完了済みにしますか？" }, class: 'btn btn-primary'

      - if %i[returned completed].include?(@lender_rental_transaction.status) && @lender_rental_transaction.lender_review.blank?
        = link_to 'レビューを書く', new_user_lender_rental_transaction_review_path(@lender_rental_transaction), class: 'btn btn-primary'
    .vstack.gap-3
      - %i[borrower_name status starts_on ends_on price].each do |attribute|
        %hr
        .row
          .col-3
            %h6.mb-0= RentalTransaction.human_attribute_name(attribute)
          .col-9
            - case attribute
            - when :status
              .vstack.gap-2
                %p.mb-0= rental_transaction_status_label(rental_transaction: @lender_rental_transaction)
                - case @lender_rental_transaction.status
                - when :approved
                  %p.mb-0
                    下記の銀行口座に借り手からの入金があれば、入金済みボタンを教えてください。
                    %br
                    = @lender_rental_transaction.borrower.bank_account_info
                - when :paid
                  %p.mb-0 下記のQRコードを梱包資材に貼り付けて、配送してください。
                  = qrcode_tag(@lender_rental_transaction.borrower_qr_code.payload.to_s, module_size: 3)
            - else
              = @lender_rental_transaction.public_send(attribute)
      - %i[description condition daily_price].each do |attribute|
        %hr
        .row
          .col-3
            %h6.mb-0= ItemVersion.human_attribute_name(attribute)
          .col-9
            = item_version.public_send(attribute)
      - if @lender_rental_transaction.lender_review.present?
        %hr
        .row
          .col-3
            %h6.mb-0 レビュー評価
          .col-9
            = @lender_rental_transaction.lender_review.rating
        %hr
        .row
          .col-3
            %h6.mb-0 レビューコメント
          .col-9
            = @lender_rental_transaction.lender_review.comment
      %hr
