%nav.navbar.navbar-expand-lg.shadow.sticky-top.bg-dark
  .container-fluid
    = link_to "CollectiShare", root_path, class: "navbar-brand"
    %button.navbar-toggler{ type: :button, data: { bs: { toggle: :collapse, target: "#navbar-nav" } }, aria: { controls: "navbar-nav", expanded: false } }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-nav
      %ul.navbar-nav
        - if current_user.present?
          %li.nav-item
            = link_to "アイテム", items_path, class: "nav-link"
          %li.nav-item
            = link_to "マイページ", user_user_profile_path, class: "nav-link"
          %li.nav-item
            = link_to "マイアイテム", user_items_path, class: "nav-link"
          %li.nav-item
            = link_to "借入アイテム", user_borrower_rental_transactions_path, class: "nav-link"
          %li.nav-item
            = button_to 'ログアウト', logout_path, method: :post, data: { turbo: false }, class: 'btn btn-danger'
        - else
          %li.nav-item
            = button_to 'ログイン', login_path, method: :post, data: { turbo: false }, class: 'btn btn-info'
